@use 'grid' as *;

@mixin transition {
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin xs {
  @media (max-width: $bp-xs) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $bp-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $bp-md) {
    @content;
  }
}

@mixin absolute-stretch {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin hover-guard {
  @media (hover: hover) {
    @content;
  }
}
