.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.select-enter-active,
.select-leave-active {
  position: absolute;
  top: 0rem;
  right: 0;
  left: 0;
  z-index: 99;
  transition: all 0.2s ease-in-out;
}
.select-enter,
.select-leave-to {
  transform: translateY(-0.25rem);
  opacity: 0;
}
